samples/SocialMediaIntegration.json
[{"id":"e83d2898.a52078","type":"twitter in","z":"c9fef204.05478","twitter":"","tags":"IOT","user":"false","name":"","topic":"tweets","x":195,"y":255,"wires":[["e4daac6d.a2b6","58aff416.b38ecc"]]},{"id":"e4daac6d.a2b6","type":"sentiment","z":"c9fef204.05478","name":"","x":353,"y":276,"wires":[["7479290f.5598f8"]]},{"id":"7479290f.5598f8","type":"switch","z":"c9fef204.05478","name":"score","property":"sentiment.score","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"},{"t":"eq","v":"0","vt":"str"},{"t":"lt","v":"0","vt":"str"}],"checkall":"false","outputs":3,"x":529,"y":255,"wires":[["effa96bb.fbe468"],[],["35268b49.6bfcf4"]]},{"id":"effa96bb.fbe468","type":"function","z":"c9fef204.05478","name":"PositiveSentiments","func":"var score = 'PositiveSentiments';\nvar value = msg.sentiment.score;\n\nmsg.payload = {\n    eventType: score,\n    data: value\n};\n//msg.payload=JSON.stringify({eventType: evt,data: value});\nreturn msg;\n","outputs":1,"noerr":0,"x":725,"y":234,"wires":[["64f50e79.885d1"]]},{"id":"35268b49.6bfcf4","type":"function","z":"c9fef204.05478","name":"NegativeSentiments","func":"var score = 'NegativeSentiments';\nvar value = msg.sentiment.score;\n\nmsg.payload = {\n    eventType: score,\n    data: value\n};\n//msg.payload=JSON.stringify({eventType: evt,data: value});\nreturn msg;\n","outputs":1,"noerr":0,"x":730,"y":274,"wires":[["7360c1a8.eedfb"]]},{"id":"58aff416.b38ecc","type":"function","z":"c9fef204.05478","name":"Accumulate10tweets","func":"if(!context.global.hasOwnProperty(\"count\"))\ncontext.global.count=0;\n\ncontext.global.count=context.global.count+1;\nif(context.global.count===1){\ncontext.global.data=\"\";\ncontext.global.data +=\"\\n*************************************************************************************\";\n\n}\ncontext.global.data += msg.payload;\ncontext.global.data +=\"\\n*************************************************************************************\";\n\nif(context.global.count==10){\n    context.global.count=0;\n    \nvar tweets = 'Tweets';\nvar value = context.global.data;\n\nmsg.payload = {\n    eventType: tweets,\n    data: value\n};\n\nreturn msg;\n\n}","outputs":1,"noerr":0,"x":739,"y":182,"wires":[["4da8647.bf9b99c"]]},{"id":"64f50e79.885d1","type":"ibmiot out","z":"c9fef204.05478","authentication":"apiKey","apiKey":"cc017c21.0fe66","outputType":"evt","deviceId":"SentimentalAnalysis","deviceType":"SentimentalDevice","eventCommandType":"PositiveSentiments","format":"json","data":"PositiveSentiments","qos":0,"name":"IBM IoT","service":"registered","x":944,"y":234,"wires":[]},{"id":"7360c1a8.eedfb","type":"ibmiot out","z":"c9fef204.05478","authentication":"apiKey","apiKey":"cc017c21.0fe66","outputType":"evt","deviceId":"SentimentalAnalysis","deviceType":"SentimentalDevice","eventCommandType":"NegativeSentiments","format":"json","data":"NegativeSentiments","qos":0,"name":"IBM IoT","service":"registered","x":946,"y":274,"wires":[]},{"id":"4da8647.bf9b99c","type":"ibmiot out","z":"c9fef204.05478","authentication":"apiKey","apiKey":"cc017c21.0fe66","outputType":"evt","deviceId":"SentimentalAnalysis","deviceType":"SentimentalDevice","eventCommandType":"LastTenTweets","format":"json","data":"LastTenTweets","qos":0,"name":"IBM IoT","service":"registered","x":934,"y":183,"wires":[]},{"id":"cc017c21.0fe66","type":"ibmiot","z":"c9fef204.05478","name":"a-37ta27-wbyu7jemem","keepalive":"60","cleansession":true}]
