samples/rpi/raspi_quickstart.json
[{"id":"c1990187.9e4f5","type":"inject","name":"Trigger","topic":"","payload":"\"Hello World\"","payloadType":"none","repeat":"1","crontab":"","once":false,"x":153,"y":216,"z":"86737c24.530768","wires":[["ab2d4bf3.d5bbf"]]},{"id":"ab2d4bf3.d5bbf","type":"exec","command":"cat","append":"/sys/class/thermal/thermal_zone0/temp","useSpawn":"","name":"getCpuTemp","x":265,"y":323.00000762939453,"z":"86737c24.530768","wires":[["720be613.782e78"],[],[]]},{"id":"2ad7c1cd.e2f01e","type":"debug","name":"debug json string","active":true,"console":"false","complete":"false","x":747.9999847412109,"y":162,"z":"86737c24.530768","wires":[]},{"id":"2529683f.5fb968","type":"exec","command":"cat","append":"/proc/loadavg","useSpawn":"","name":"getLoadAvg","x":444,"y":365,"z":"86737c24.530768","wires":[["569c2ac9.78b5fc"],[],[]]},{"id":"720be613.782e78","type":"function","name":"cpuTempFn","func":"//Store the datapoints in the 'data' variable. \n//Making it global\nif (!context.global.hasOwnProperty(\"data\")) {\n\tcontext.global.data = {};\n\tcontext.global.data.d = {\n\t\t\"myName\" : \"AmitPi\"\n\t};\n}\n\nvar cpuTemp = msg.payload;\n// The read CPU temp is in milli Centigrade\ncpuTemp = cpuTemp / 1000;\n\ncontext.global.data.d.cputemp = cpuTemp;\n\nmsg.payload = context.global.data;\nreturn msg;","outputs":1,"x":344,"y":253,"z":"86737c24.530768","wires":[["2529683f.5fb968"]]},{"id":"569c2ac9.78b5fc","type":"function","name":"Aggregator SineGenerator","func":"// Read the loadavg file for average jobs\nvar full = msg.payload;\nvar splitVals = full.split(\" \");\ncontext.global.data.d.cpuload = splitVals[0];\n\n// Code for sine wave generation\nif (!context.hasOwnProperty(\"count\")) {\n\tcontext.count = 1;\n}\n\nvar duration = 16; // number of points in the sine wave\nvar maxValue = 1; // max and min value in sine wave\nvar minValue = -1;\n\nvar sineValue = Math.sin(2 * Math.PI * context.count / duration)\n\t\t* (maxValue - minValue) / 2;\ncontext.count++;\ncontext.global.data.d.sine = sineValue;\n\n//The final json obj is in 'data'\nmsg.payload = context.global.data;\nreturn msg;","outputs":1,"x":655.9999847412109,"y":336.00000762939453,"z":"86737c24.530768","wires":[["2ad7c1cd.e2f01e","8ae9018e.656518"]]},{"id":"646d0d37.c01c0c","type":"comment","name":"Events","info":"The events supported are \n1. CPU temperature in degree centigrade\n2. CPU load average\n3. Simulated Sine wave\n","x":143,"y":97,"z":"86737c24.530768","wires":[]},{"id":"cee3bcc.192f1c","type":"comment","name":"Turn on the debug node(jumper in the end) if want to print the json msg","info":"","x":757.9999847412109,"y":95,"z":"86737c24.530768","wires":[]},{"id":"8ae9018e.656518","type":"iot-dev-out","name":"IoT device Out","connectmode":"qsmode","orgId":"Quickstart","deviceType":"iotsample-nodered","deviceId":"b827ebb030a1","authToken":"","x":625.0833282470703,"y":459.0833282470703,"z":"86737c24.530768","wires":[]}]