samples/rpi/raspi_registered_event.json
[{"type":"tab","id":"4e16630d.133a0c","label":"registered flow from device"},{"type":"tab","id":"91dd9cf3.36c03","label":"ignore"},{"type":"tab","id":"94b91dfc.2cd79","label":"registered flow to device"},{"id":"22be3211.e73116","type":"inject","name":"Trigger","topic":"","payload":"\"Hello World\"","payloadType":"none","repeat":"1","crontab":"","once":false,"x":201,"y":242,"z":"4e16630d.133a0c","wires":[["2ef46ac9.f9581e"]]},{"id":"2ef46ac9.f9581e","type":"exec","command":"cat","append":"/sys/class/thermal/thermal_zone0/temp","useSpawn":"","name":"getCpuTemp","x":313,"y":349.00000762939453,"z":"4e16630d.133a0c","wires":[["c3888b65.9e0688"],[],[]]},{"id":"f1d8d734.e89108","type":"debug","name":"debug json string","active":true,"console":"false","complete":"false","x":795.9999847412109,"y":188,"z":"4e16630d.133a0c","wires":[]},{"id":"63f6e51d.369fbc","type":"exec","command":"cat","append":"/proc/loadavg","useSpawn":"","name":"getLoadAvg","x":492,"y":391,"z":"4e16630d.133a0c","wires":[["e0991226.74914"],[],[]]},{"id":"c3888b65.9e0688","type":"function","name":"cpuTempFn","func":"//Store the datapoints in the 'data' variable. \n//Making it global\nif (!context.global.hasOwnProperty(\"data\")) {\n\tcontext.global.data = {};\n\tcontext.global.data.d = {\n\t\t\"myName\" : \"AmitPi\"\n\t};\n}\n\nvar cpuTemp = msg.payload;\n// The read CPU temp is in milli Centigrade\ncpuTemp = cpuTemp / 1000;\n\ncontext.global.data.d.cputemp = cpuTemp;\n\nmsg.payload = context.global.data;\nreturn msg;","outputs":1,"x":392,"y":279,"z":"4e16630d.133a0c","wires":[["63f6e51d.369fbc"]]},{"id":"e0991226.74914","type":"function","name":"Aggregator SineGenerator","func":"// Read the loadavg file for average jobs\nvar full = msg.payload;\nvar splitVals = full.split(\" \");\ncontext.global.data.d.cpuload = splitVals[0];\n\n// Code for sine wave generation\nif (!context.hasOwnProperty(\"count\")) {\n\tcontext.count = 1;\n}\n\nvar duration = 16; // number of points in the sine wave\nvar maxValue = 1; // max and min value in sine wave\nvar minValue = -1;\n\nvar sineValue = Math.sin(2 * Math.PI * context.count / duration)\n\t\t* (maxValue - minValue) / 2;\ncontext.count++;\ncontext.global.data.d.sine = sineValue;\n\n//The final json obj is in 'data'\nmsg.payload = context.global.data;\nreturn msg;","outputs":1,"x":703.9999847412109,"y":362.00000762939453,"z":"4e16630d.133a0c","wires":[["f1d8d734.e89108","2e03480c.8a736"]]},{"id":"bdd913e5.4a8328","type":"comment","name":"Events","info":"The events supported are \n1. CPU temperature in degree centigrade\n2. CPU load average\n3. Simulated Sine wave\n","x":191,"y":123,"z":"4e16630d.133a0c","wires":[]},{"id":"e825a79a.ce353","type":"comment","name":"Turn on the debug node(jumper in the end) if want to print the json msg","info":"","x":805.9999847412109,"y":121,"z":"4e16630d.133a0c","wires":[]},{"id":"2e03480c.8a736","type":"iot-dev-out","name":"IoT device Out","connectmode":"regismode","orgId":"w8wx0","deviceType":"iotsample-raspberrypi","deviceId":"b827ebdfa2a2","authToken":"!Mw!JaRdrWv5B0kAYI","x":668.0833282470703,"y":485.0833282470703,"z":"4e16630d.133a0c","wires":[]},{"id":"17f9e28b.e54a6d","type":"iot-dev-in","name":"IoT device In","orgId":"w8wx0","deviceType":"iotsample-raspberrypi","deviceId":"b827ebdfa2a2","authToken":"!Mw!JaRdrWv5B0kAYI","command":"+","format":"json","x":173,"y":265,"z":"94b91dfc.2cd79","wires":[["587ca510.1b6864"]]},{"id":"587ca510.1b6864","type":"debug","name":"","active":true,"console":false,"complete":false,"x":308,"y":311,"z":"94b91dfc.2cd79","wires":[]}]